[submodule "state_machines"]
	path = state_machines
	url = git@github.com:state-machines/state_machines.git
[submodule "state_machines-activemodel"]
	path = state_machines-activemodel
	url = git@github.com:state-machines/state_machines-activemodel.git
[submodule "state_machines-activerecord"]
	path = state_machines-activerecord
	url = git@github.com:state-machines/state_machines-activerecord.git
[submodule "state_machines-graphviz"]
	path = state_machines-graphviz
	url = git@github.com:state-machines/state_machines-graphviz.git
[submodule "state_machines-yard"]
	path = state_machines-yard
	url = git@github.com:state-machines/state_machines-yard.git
[submodule "state_machines-audit_trail"]
	path = state_machines-audit_trail
	url = git@github.com:state-machines/state_machines-audit_trail.git
